<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
	<listener class-name = "sauavpractice.testcomponents.Listeners"/>	
	</listeners>
	<test thread-count="5" name="Submit Order Test">
		<classes>
			<class name="sauravpractice.tests.SubmitOrderTest" />
		</classes>
	</test> <!--
	Test -->
	<test thread-count="5" name="Error Validation Test">
		<classes>
			<class name="sauravpractice.tests.ErrorValidationsTest" />
		</classes>
	</test> <!--
	Test -->
	<test thread-count="5" name="Base Test">
		<classes>
			<class name="sauavpractice.testcomponents.BaseTest" />
		</classes>
	</test> <!--
	Test -->
</suite> <!--
Suite -->
